body{
    background: linear-gradient(to bottom right, #1cedd8 0% , #8245d1 33.3%,#ed1cc0 66.6%, #e87400 100%);
}
.copy_right_footer{
    position:fixed ;
    bottom:20px;
    font-family: cursive;
    color: lightseagreen;
    position:fixed;
    background-color:whitesmoke;
    width:100%;
    text-align:center;
    bottom:0;
}
.header_div{
    font-family: 'Stick No Bills', sans-serif;
    background-color: yellow;
    font-size: 18px;
    width:100%;
}
.header_div p{
    font-size: 12px;
    font-family: monospace;
}